svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .axis path,
  .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }
  
  .axis text{
      font: Times;
      font-size: 12px;
      font-weight: bold;
  }